.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #989898;
}

.cabecalho h1 {
    margin: 0;
    font-size: 1.4rem;
}

.cabecalho a {
    background-color: #4012f6;
    padding: 5px 10px;
    border-radius: 5px;

}

.conteudo {
    padding: 20px;
    height: 100%;
}